bin/
obj/
[Dd]ebug/
[Rr]elease/
publish/

.idea/
*.sln.iml

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.db
*.sqlite
*.mdf
*.ldf

secret.json

.DS_Store
Thumbs.db